{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'crumbs.html' %}

    <section class="about__block1">
			<div class="container"><h1 class="section__title">Компания «РИАЛстрой» в Казани</h1
				><p class="section__descriptor">Спасибо, что вы зашли на наш сайт и интересуетесь нашей компанией. </p>
                
                <p class="section__descriptor_left">Компания «РИАЛстрой» занимается ремонтом и отделкой квартир, коттеджей, офисов, ресторанов, складов и других помещений, а также ремонтом магазинов, баров, кафе в торговых центрах.    </p>
                 <p class="section__descriptor_left">Вы можете заказать дизайн-проект или сэкономить на нём, составив проект, планировку помещения самостоятельно и предоставить материалы нашему инженеру.    </p>
                 
                  <p class="section__descriptor_left">Ремонт с дизайн-проектом может включать в себя:    </p>
                  
                  

<p class="section__descriptor_left" style="">
&nbsp;&nbsp;&nbsp;<b>&raquo;</b><span style="color:#F00;font-weight:bold;"> Бесплатно:</span> консультация технического специалиста и дизайнера, формирование сметы <br>
&nbsp;&nbsp;&nbsp;<b>&raquo;</b> Планировочное решение и интерьера, инженерные чертежи <br>
&nbsp;&nbsp;&nbsp;<b>&raquo;</b> Поиск стиля и цветов, подбор материалов и список магазинов для покупки, развертка стен <br>
&nbsp;&nbsp;&nbsp;<b>&raquo;</b> 3D-визуализация вашего интерьера <br>
&nbsp;&nbsp;&nbsp;<b>&raquo;</b> Ремонтные и отделочные работы по проекту 
</p>

<h2 class="section__title3">В чем мы больше всего преуспели?</h2>
 <p class="section__descriptor_left"> 
 • С 2007 года мы отремонтировали около 134 квартир по Казани. Посмотрите на наше портфолио в разделе  <a href="http://rial-remont.ru/project/all" target="_blank"> «Наши работы»</a>. Недавно мы взяли отзыв у клиента, у которого делали ремонт спустя 10 лет. Кстати, по его рекомендации сделали ремонт его родителям. </p>

<div class="about__block3__item clearfix">
                <div class="about__block3__img-wrap">
                    <img src="/static/img/replies/4.1.jpg" alt="">
                </div>
                <div class="about__block3__right">
                    <span class="name">Валерий Я.Д., г. Казань, Зур Урам, 49 лет</span>
                    <span class="text"><img src="../../../../static/img/feedback/4.jpg" alt=""> <img src="../../../../static/img/feedback/4.1.jpg" alt=""> <img src="../../../../static/img/feedback/4.2.jpg" alt=""></span>
                    
                </div>
            </div>
            <p class="section__descriptor_left"> 
 - Отремонтировали около 20 коттеджей. Свяжитесь с нашими клиентами и получите от них рекомендации лично. <a href="http://rial-remont.ru/project/6cotedge/" target="_blank"> Один из объектов в разделе «Наши работы»</a>. </p>
 <p class="section__descriptor_left"> 
 • Ремонт под ключ с оборудованием ресторанов «Пловбери Чайхона №1» с площадью около 200м2. Рестораны находятся в ТРЦ «Мега» (Новосибирск) и <a href="http://rial-remont.ru/project/7chaihana/" target="_blank">ТРЦ «Гринвич» Екатеринбург</a>.  </p>
 <p class="section__descriptor_left"> 
 • Сделали монтаж около 14 Джус баров (свежевыжатые соки) в ТРЦ  Казани, Екатеринбурга и других городах по России.</p>
 <p class="section__descriptor"> <br>
 Выполняем ремонт по <span style="color:#F00;font-weight:bold;"> СНИП и ГОСТам</span> (с соблюдением высоких требований к пожарной безопасности) и <span style="color:#F00;font-weight:bold;">даем гарантию 24 месяца</span>.</p>
            

                          <h5 class="section__title3">Вы ознакомились с нашими работами по ремонту?</h5>
 <p class="section__descriptor_left">• Раньше (начиная с 2007 года) мы не задумывались, что нам придется выкладывать свои работы на сайт, поэтому очень часто фотографии делали очень редко или вообще не делали.  </p>
 
 <p class="section__descriptor"><b>Здесь Вы можете увидеть наши работы: </b></p>
              
               <div class="row">
                            <div class="col-md-12 centered">
                            <a href="http://rial-remont.ru/project/all" target="_blank">
                        <button class="button button_style">Наши работы</button>
                           </a>
                            </div>
             </div>
             
              <h5 class="section__title3">Есть ли отзывы? </h5>
 <p class="section__descriptor_left">• Отзывы есть, мы постарались собрать максимальное количество отзывов со всех наших клиентов. Если вы станете нашим клиентом, то, пожалуйста, оставляйте отзыв о нашей компании. Нам всегда нужно знать мнение нашего клиента, и это даёт больше информации о нашей компании для посетителей сайта и будущих клиентов.   </p>
 
 <p class="section__descriptor"><b>Все отзывы о ремонте - компании «РИАЛстрой»: </b></p>
              
               <div class="row">
                            <div class="col-md-12 centered">
                            <a href="http://rial-remont.ru/replies/" target="_blank">
                        <button class="button button_style">Все отзывы</button>
                           </a>
                            </div>
             </div>
               
               
                             <h4 class="section__title3">Чем мы отличаемся от конкурентов? </h4><br>
<p class="section__descriptor_left"><b>• Лучше один раз увидеть</b></p>
     <p class="section__descriptor_left">Всегда стараемся приглашать будущих клиентов посмотреть  выполнение ремонта на реальном объекте. Так вы можете увидеть качество ремонта, наших специалистов и небольшую экскурсию, как мы реализовали данный ремонт, какие проводились работы.   </p>
     
<p class="section__descriptor_left"><b>• Вернем 2000 руб за каждый день просрочки</b>  </p>
     <p class="section__descriptor_left">В договоре указывается точные сроки сдачи объекта. Скорость и время работы - это одно из ключевых преимуществ нашей компании. При необходимости работаем в 2 смены (ночью и днем).  </p>
     
     <p class="section__descriptor_left"><b>• Клиент всегда прав</b>  </p>
     <p class="section__descriptor_left">Вы – это самое дорогое, что у нас есть. Конечно, мы стараемся всегда сделать идеальный ремонт. Честно были случаи, когда звонил клиент и рассказывал, что обнаружил дефект материала или недостаток. В таких случаях мы бесплатно выезжаем на объект и устраняем недостатки.  </p>
     
     <p class="section__descriptor_left"><b>• Капитальный ремонт за 60 дней с гарантией 3 года</b>  </p>
     <p class="section__descriptor_left">Капитальный ремонт квартиры с площадью 40-50 м2 за 2 месяца. Мы отремонтировали более 134 квартир в Казани и пригороде. Оцените <a href="http://rial-remont.ru/project/all" target="_blank">нашу работу</a> или свяжитесь с хозяевами.   </p>
     
     <p class="section__descriptor_left"><b>• Следите за ремонтом, не выходя из дома</b>  </p>
     <p class="section__descriptor_left">Следите за ремонтом, не выходя из дома или даже если вы в другом городе. Делаем ежедневные отчеты о проделанной работе ремонта и отправляем своим заказчикам. </p>
     
     <p class="section__descriptor_left"><b>• <span style="color:#F00;font-weight:bold;">БЕСПЛАТНО</span> поможем в вашем вопросе по ремонту</b>  </p>
     <p class="section__descriptor_left">Мы действительно помогаем и консультируем людей в решении их проблем, потому что мы знаем как тяжело порой бывает решить проблему, как поклеить обои, установить кухонный гарнитур, розетки, мебель, освещение и т.д.  </p>
     
           <h3 class="section__title1">С чего начать ремонт? </h1>

               <p class="section__descriptor_left">1.	Вы можете <span style="color:#F00;font-weight:bold;">БЕСПЛАТНО</span> пригласить на консультацию технического специалиста и дизайнера  </p>
               <p class="section__descriptor_left">2.	Вы можете <span style="color:#F00;font-weight:bold;">БЕСПЛАТНО</span> получить составление точной сметы  </p>
          <p class="section__descriptor">       <b> Чтобы связаться с нами:</b> </p>
          
          <p class="section__descriptor">
    Бесплатно звонок по всей России: <span style="font-size:22px;"> <b><a href="tel:88005114326">  <span class="header__phone" style="color: #000;">8 (800) 511-43-26 </span></a></b> </span><br>
    Мобильный для связи по WhatsApp: <a class="header__phone1" href="tel:+7 (927) 422-34-30"><img src="http://rial-remont.ru/static/img/whatcapp.png" style="" width="25">  <span class="header__phone1" style="color: #000;">+7 (927) 422-34-30 </span></a>
    
    <br>
    
    Наш офис находится по адресу: г. Казань, ул. Столярова, д. 15а
 </p>
          
          <div class="row">
                            <div class="col-md-12">
<a href="" target="_blank" class="centered"><button class="button button_style">Заказать звонок</button></a>
                            </div>
             </div>
              
              
				<div class="about__block1__flex">
					<div class="about__block1__item"><img src="{% static 'img/check.png' %}" alt=""/><span>12 лет на рынке</span></div>
					<div class="about__block1__item"><img src="{% static 'img/check.png' %}" alt=""/><span>более 134 довольных<br>клиентов</span></div>
					<div class="about__block1__item"><img src="{% static 'img/check.png' %}" alt=""/><span>87 из 100 обратившихся<br>становятся клиентами</span></div>
				</div>
				<div class="about__block1__block clearfix">
					<div class="about__block1__left"><img src="{% static 'img/about1/1.png' %}" alt=""/></div>
					<span class="name"><b>Шеахметов Радик Рафаэлович</b></span>
                    <br>
                    <span class="job">Руководитель компании "РиалСтрой"</span>
                    <div class="about__block1__right"><span class="quote">Приветствую Вас на нашем сайте!<br><br>
                    Я понимаю, как вам тяжело выбрать компанию через интернет. В нашей компании Клиент всегда прав. Мы несем ответственность за ремонт с гарантией 3 года. 
                    </span>
                    
                    <span class="about__block1__title2">Пригласим бесплатно специалиста на замер?</span><span class="about__block1__descriptor">Оставляйте заявку на расчет точной сметы: </span> 
						<form> 
							<div class="about__block1__input">
								<input type="text" name="name" placeholder="Ваше имя" required="required"/><img src="{% static 'img/block14/1.png' %}" alt=""/>
							</div>
							<div class="about__block1__input">
								<input type="text" name="phone" placeholder="Ваш телефон" required="required"/><img src="{% static 'img/block14/2.png' %}" alt=""/>
							</div>
							<input type="hidden" name="type" value="Заявка на консультацию"/>
							<button class="button">Заказать звонок</button>
							<fieldset class="checkbox">
								<input type="checkbox" name="ch1" id="ch1" checked="checked"/>
								<label for="ch1">Я принимаю условия <a href=''>политики <br>конфиденциальности</a></label>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>

    {% include 'about/partners.html' %}
    
 <div class="container">
   <div class="about__block2__flex">
  
   <div class="about__block2__item">
                <div class="about__block2__img-wrap">
                    
                    <img src="/static/img/partners/5.png" alt="">
                    
                </div>
                
            </div>
            
            <div class="about__block2__item">
                <div class="about__block2__img-wrap">
                    
                    <img src="/static/img/partners/6.png" alt="">
                    
                </div>
                
            </div>
   
   </div>
  </div>

    <!--{% include 'about/stuff.html' %}-->

<!--    {% include 'about/advantages.html' %}
-->
    {% include 'about/tools.html' %}

    {% include 'about/replies.html' %}

    {% include 'about/howwedo.html' %}

{% endblock %}