{% extends 'base.html' %}

{% block content %}

    {% include 'main/slider_main.html' %}

    {% include 'main/types.html' %}

    {% include 'about/advantages.html' %}

    {% include 'main/block3.html' %}

    {% include 'main/projects.html' %}

    {% include 'main/projects_filters.html' %}

    {% include 'main/prices_fork.html' %}

    {% include 'prices/price_block.html' %}

    {% include 'main/sales.html' %}

    {% include 'about/howwedo.html' %}

    <!--{% include 'about/stuff.html' %}-->

    <!--{% include 'about/tools.html' %}-->

    {% include 'main/faq.html' %}

{% endblock %}


{% block title %}Главная{% endblock %}
