{% extends 'base.html' %}

{% block content %}
<section class="politica">
    <div class="container">
        <div class="politica__block">
            <span class="politica__title">Политика конфиденциальности</span>
            <div>
                г. Казань. Дата: 25 июня 2018г<br><br>
                Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт индивидуального предпринимателя Радика Шеахметова Рафаэлевича «РИАЛстрой», расположенный на доменном имени www.rial-remont.ru, может получить о Пользователе во время использования сайта, программ и продуктов сайта.  
                <br><br>
                <h3 class="politica__parag"><strong>1.  ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong></h3>
                1.1. В настоящей Политике конфиденциальности используются следующие термины:<br>
                1.1.1. Администрация сайта (далее  Администрация сайта)   уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br>
                1.1.2. Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).<br>
                1.1.3. Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br>
                1.1.4. Конфиденциальность персональных данных - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.<br>
                1.1.5. Пользователь сайта (далее ‑ Пользователь)  лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.<br>
                1.1.6. Cookies небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.<br>
                1.1.7. IP-адрес  уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.<br>
                <h3 class="politica__parag"><strong>2.	ОБЩИЕ ПОЛОЖЕНИЯ</strong></h3>
                2.1.	Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.<br>
                2.2.	В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.<br>
                2.3.	Настоящая Политика конфиденциальности применяется только к сайту индивидуального предпринимателя Радика Шеахметова Рафаэлевича «РИАЛстрой», расположенный на доменном имени www.rial-remont.ru . Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте. <br>
                2.4.	Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.<br>
                <h3 class="politica__parag"><strong>3.	ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</strong></h3>
                3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по не разглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при заполнении форм обратной связи.<br>
                3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения следующих форм:<br>
                «Заказать звонок» в шапке сайта. <br>
                «Бесплатная консультация» на главной странице и всех прочих разделах. <br>
                «Оставить заявку» во всех разделах сайта.<br>
                «Забронировать скидку» во всех разделах сайта.<br>
                Все формы на сайте включают в себя следующую информацию: <br>
                3.2.1. Как обращаться к Пользователю;<br>
                3.2.2. Как можно связаться с Пользователем;<br>
                3.3. Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"): <br>
                IP адрес; информация из cookies; <br>
                информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы); <br>
                время доступа;<br>
                адрес страницы, на которой расположен рекламный блок; <br>
                реферер (адрес предыдущей страницы).<br>
                3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.<br>
                3.4. Любая иная персональная информация неоговоренная выше (используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п.5.2. и 5.3. настоящей Политики конфиденциальности.<br>
                <h3 class="politica__parag"><strong>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</strong></h3>
                4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:<br>
                4.1.1. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.<br>
                4.1.2. Уведомления Пользователя Сайта о состоянии Заказа.<br>
                4.1.3. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта.<br>
                <h3 class="politica__parag"><strong>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</strong></h3>
                5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.<br>
                5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.<br>
                5.3. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.<br>
                5.4. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.<br>
                5.5. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.<br>
                <h3 class="politica__parag"><strong>6. ОБЯЗАТЕЛЬСТВА СТОРОН</strong></h3>
                6.1. Администрация сайта обязана:<br>
                6.1.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.<br>
                6.1.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п. 5.2. настоящей Политики Конфиденциальности.<br>
                6.1.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.<br>
                6.1.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.<br>
                <h3 class="politica__parag"><strong>7. ОТВЕТСТВЕННОСТЬ СТОРОН</strong></h3>
                7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., и 7.2.настоящей Политики Конфиденциальности.<br>
                7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:<br>
                7.2.1. Стала публичным достоянием до её утраты или разглашения.<br>
                7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.<br>
                7.2.3. Была разглашена с согласия Пользователя.<br>
                <h3 class="politica__parag"><strong>8. РАЗРЕШЕНИЕ СПОРОВ</strong></h3>
                8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br>
                8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.<br>
                8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.<br>
                8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.<br>
                <h3 class="politica__parag"><strong>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong></h3>
                9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.<br>
                9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.<br>
                9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует направлять электронным письмом по адресу: sheahmetovr@mail.ru<br>
                9.4. Действующая Политика конфиденциальности размещенана странице по адресу http://rial-remont.ru /politica/<br><br>
                Обновлено «25»  июня 2018 г.

            </div>
        </div>
    </div>
</section>

{% include 'main/faq.html' %}
{% endblock %}


{% block title %}Политика конфиденциальности{% endblock %}