{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <span class="politica__title">Карта сайта</span>
		<p><a href="http://rial-remont.ru/">Главная страница</a></p>
		<div><a href="http://rial-remont.ru/replies/">Риал Строй | Отзывы</a></div>

		<div><a href="http://rial-remont.ru/project/all">Риал Строй | Все проекты</a></div>

		<div><a href="http://rial-remont.ru/pricelist/">Риал Строй | Цены на ремонт квартир</a></div>

		<div><a href="http://rial-remont.ru/calculate/">Риал Строй | Цены на ремонт</a></div>

		<div><a href="http://rial-remont.ru/about/contacts/">Риал Строй | Контакты</a></div>

		<div><a href="http://rial-remont.ru/design_service/rem_design/">Риал Строй | Ремонт по дизайн проекту</a></div>

		<div><a href="http://rial-remont.ru/design_service/design_remont/">Риал Строй | Дизайнерский ремонт квартир</a></div>

		<div><a href="http://rial-remont.ru/design_service/remont_replanning/">Риал Строй | Ремонт с перепланировкой</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_1k/">Риал Строй | Дизайн 1-комнатной</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_2k/">Риал Строй | Дизайн 2-комнатной</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_3k/">Риал Строй | Дизайн 3-комнатной</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_4k/">Риал Строй | Дизайн 4-комнатной</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_loft/">Риал Строй | Дизайн в стиле Лофт</a></div>

		<div><a href="http://rial-remont.ru/design_apartment/design_modern/">Риал Строй | Дизайн в современном стиле</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_vanny/">Риал Строй | Дизайн ванной комнаты</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_toilet/">Риал Строй | Дизайн санузла, туалета</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_kitchen/">Риал Строй | Дизайн кухни</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_koridora/">Риал Строй | Дизайн коридора, прихожей</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_spalni/">Риал Строй | Дизайн спальни</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_seating/">Риал Строй | Дизайн гостиной</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_zala/">Риал Строй | Дизайн зала</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_child/">Риал Строй | Дизайн детской</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_cabineta/">Риал Строй | Дизайн кабинета</a></div>

		<div><a href="http://rial-remont.ru/design_komnat/design_balkona/">Риал Строй | Дизайн балкона и лоджии</a></div>

		<div><a href="http://rial-remont.ru/design_pomesheniya/design_office/">Риал Строй | Дизайн офиса</a></div>

		<div><a href="http://rial-remont.ru/design_pomesheniya/design_magazin/">Риал Строй | Дизайн магазина</a></div>

		<div><a href="http://rial-remont.ru/design_pomesheniya/design_restoran/">Риал Строй | Дизайн ресторана, кафе, бара</a></div>

		<div><a href="http://rial-remont.ru/design_pomesheniya/design_sklad/">Риал Строй | Дизайн склада</a></div>

		<div><a href="http://rial-remont.ru/otdelka_apartment/remont_klych/">Риал Строй | Под ключ</a></div>

		<div><a href="http://rial-remont.ru/otdelka_apartment/euro_remont/">Риал Строй | Евроремонт</a></div>

		<div><a href="http://rial-remont.ru/otdelka_apartment/capital/">Риал Строй | Капитальный</a></div>

		<div><a href="http://rial-remont.ru/otdelka_apartment/cosmetic/">Риал Строй | Косметический</a></div>

		<div><a href="http://rial-remont.ru/otdelka_apartment/nedorogo/">Риал Строй | Недорогой</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/office/">Риал Строй | Офис</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/kv_office/">Риал Строй | Квартира под офис</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/magazin/">Риал Строй | Магазин</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/restoran_cafe/">Риал Строй | Ресторан, кафе</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/bar_pomeshenie/">Риал Строй | Бары</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/pomeshenie_torgovoe/">Риал Строй | В торговых центрах</a></div>

		<div><a href="http://rial-remont.ru/tip_pomesheniya/pomeshenie_sklad/">Риал Строй | Склад</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/">Риал Строй | Отделочные работы</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/gipsokarton">Риал Строй | Гипсокартон</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/plitka">Риал Строй | Плитка</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/potolki">Риал Строй | Потолки</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/steny">Риал Строй | Стены</a></div>

		<div><a href="http://rial-remont.ru/otdelka_raboty/poly">Риал Строй | Полы</a></div>

		<div><a href="http://rial-remont.ru/sant_raboty/">Риал Строй | Сантехнические работы</a></div>

		<div><a href="http://rial-remont.ru/electro_raboty/">Риал Строй | Электромонтажные работы</a></div>

		<div><a href="http://rial-remont.ru/shtycatyrnye_raboty/">Риал Строй | Штукатурные работы</a></div>

		<div><a href="http://rial-remont.ru/otoplenie/">Риал Строй | Отопление</a></div>

		<div><a href="http://rial-remont.ru/demontag/">Риал Строй | Демонтажные работы</a></div>

		<div><a href="http://rial-remont.ru/demontag/dem_old_styagki">Риал Строй | Демонтаж старой стяжки</a></div>

		<div><a href="http://rial-remont.ru/type/1k">Риал Строй | 1-комнатная</a></div>

		<div><a href="http://rial-remont.ru/type/2k">Риал Строй | 2-комнатная</a></div>

		<div><a href="http://rial-remont.ru/type/3k">Риал Строй | 3-комнатная</a></div>

		<div><a href="http://rial-remont.ru/type/4k">Риал Строй | 4-комнатная</a></div>

		<div><a href="http://rial-remont.ru/type/stydiya">Риал Строй | Студия</a></div>

		<div><a href="http://rial-remont.ru/type/cottage">Риал Строй | Коттедж</a></div>

		<div><a href="http://rial-remont.ru/type/office">Риал Строй | Офис</a></div>

		<div><a href="http://rial-remont.ru/type/restoran_cafe">Риал Строй | Рестораны, кафе</a></div>

		<div><a href="http://rial-remont.ru/replies/portfolio1/">Риал Строй | Отзыв</a></div>

		<div><a href="http://rial-remont.ru/replies/portfolio_2/">Риал Строй | Отзыв</a></div>

		<div><a href="http://rial-remont.ru/replies/portfolio_4/">Риал Строй | Отзыв</a></div>

		<div><a href="http://rial-remont.ru/replies/portfolio_6/">Риал Строй | Отзыв</a></div>

		<div><a href="http://rial-remont.ru/replies/portfolio_7/">Риал Строй | Отзыв</a></div>

		<div><a href="http://rial-remont.ru/politica/">Риал Строй | Политика конфиденциальности</a></div>
    </div>
</section>
{% include 'main/faq.html' %}
{% endblock %}


{% block title %}Политика конфиденциальности{% endblock %}